//! **************************************************************************
// Written by: Map P.20131013 on Wed Apr 11 17:04:49 2018
//! **************************************************************************

SCHEMATIC START;
COMP "clk" LOCATE = SITE "C9" LEVEL 1;
COMP "leds<0>" LOCATE = SITE "F12" LEVEL 1;
COMP "leds<1>" LOCATE = SITE "E12" LEVEL 1;
COMP "leds<2>" LOCATE = SITE "E11" LEVEL 1;
COMP "leds<3>" LOCATE = SITE "F11" LEVEL 1;
COMP "leds<4>" LOCATE = SITE "C11" LEVEL 1;
COMP "leds<5>" LOCATE = SITE "D11" LEVEL 1;
COMP "leds<6>" LOCATE = SITE "E9" LEVEL 1;
COMP "leds<7>" LOCATE = SITE "F9" LEVEL 1;
NET "clk_BUFGP/IBUFG" BEL "clk_BUFGP/BUFG.GCLKMUX" USELOCALCONNECT;
NET "clk_BUFGP/IBUFG" PERIOD = 20 ns HIGH 50%;
SCHEMATIC END;

